html{
  text-align: center;
  background: #fefefe;

}

.header-color{
  background: #fefefe;
}

.landing-grid {

}
.landing-grid h1{
  font-family: 'Noto Sans', sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: black;
  margin: -10px auto 30px auto;
}
.avatar-img{
  height: 250px;
  border-radius: 100%;
  border: 3px solid black;
  margin: -20px auto 10px auto;
}
/*
.avatar-img:hover{
  height: 260px;
  margin: -25px auto 5px auto;
}
*/
.banner-text{
  background-color: white;
  opacity: 1;
  width: 75%;
  margin: 10px auto 50px auto;
  border-radius: 0px;
  border: 3px solid black;
  box-shadow: -5px 5px black;
}
.banner-blue{
  background-color: #C0FCDC;
}
.banner-blue:hover{
  background-color: #9AEBC0;
}
.banner-yellow{
  background-color: #FDF591;
}
.banner-yellow:hover{
  background-color: #F0E76F;
}
.banner-text h3{
  font-family: 'Noto Sans', sans-serif;
  font-size: 40px;
  color: black;
  padding-top: 20px;
}
.banner-text hr{
  border-top: 5px solid black;
  width: 50%;
  margin: auto;
}
.banner-text p{
  font-family: 'Noto Sans', sans-serif;
  color: black;
  font-size: 20px;
  padding: 1em;
}
.social-links {
  display: flex;
  justify-content: space-around;
  width: 50;
  margin: auto;

}
.social-links i{
  font-size: 5em;
  padding-bottom: 20px;
  margin-top: 0px;
  -webkit-transition: margin 0.1s ease-out;
  -moz-transition: margin 0.1s ease-out;
  -o-transition: margin 0.1s ease-out;
}
.social-links i:hover{
  margin-top: -5px;
}
.tile-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tile{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 3px solid black;
  box-shadow: -5px 5px black;
  width: 300px;
  max-height: 300px;
  background-color: #FDF591;
  margin: 30px;
  padding: 10px;
  p{
    font-size: 100px;
  }
}
.techUsed p{
  margin-bottom: 0px;
}
.tile:hover{
  box-shadow: -8px 8px black;
  background-color: #F0E76F;
}
.copyright{
  border-top: 3px solid black;
  margin-bottom: 0px;
}
